.footer_image{
    padding: 20px;
    margin: 0px 10px;
}
.footer_image img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    
}
@media screen and (max-width:480px) {
    .footer_image img {
        width: 100%;
        height: 100px;
        object-fit: cover;
        margin-top: 37px;
    }
    
    
}
