.shop-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap:60px;
   margin:60px 10px 100px;
    margin-bottom: 100px;
    margin-top: 60px;

}
.shopcategories-banner{
    display:flex; 
    align-items: center;
    justify-content:center;
    width:100%;

}
.shopcategories-banner img{
    width:100%;
    height: 400px;
}
.sort-options{
    position: absolute;
    right: 10px;
    margin: 20px;
}

@media screen and (max-width: 720px) {
    .shopcategories-banner img{
        height:200px;
    }
    .shop-items{
        display: flex;
        flex-wrap: wrap;
        justify-content:space-evenly;
        align-items: center;
        gap:0;
        margin:60px 0px 50px 0px;    
        position:absolute;
        left: 50px;
    }
  }

  @media screen and (max-width: 480px) {
    .shopcategories-banner img{
        height:100px;
    }
    .shop-items{
        margin-top:60px;    
        position:absolute;
        left: 20px;
        gap: 20px;
    }
    .select-option{
    width: 50px;
    font-size: 10px;
    
    }
    .sort-options{
        font-size: 10px;
        right: 30px;
    }
    .sort-options option{
        font-size: 10px;
    }
  }